html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #eaeaea; /* Light gray background for the whole page */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

body::before {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100px;
  padding: 50px;
  background: var(--primary-clr);
  transition: background-image 0.3s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/rain.jpeg");
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
}

header {
  color: #fff;
  background: #007bff; /* Bright blue header */
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

.options {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #f8f8f8; /* Light background for options */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.options input, .options button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: #17a2b8; /* Teal color for buttons and input */
  color: white;
}

.options input {
  background-color: white;
  color: #333;
}

.container {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  flex-grow: 1;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#data-display {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#data-display th, #data-display td {
  border: 1px solid #ddd;
  padding: 10px;
}

#data-display th {
  background-color: #007bff; /* Matching header color */
  color: white;
}

footer {
  text-align: center;
  padding: 15px 0;
  background: #343a40; /* Dark footer */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.15);
}

footer p {
  margin: 0 10px;
}

@media (max-width: 600px) {
  header h1 {
      font-size: 1.5em;
  }

  .options {
      flex-direction: column;
  }

  .options input, .options button {
      width: 90%;
      margin: 5px 0;
  }

  footer {
    flex-direction: column;
  }

  footer p {
    margin: 5px 0;
  }
}
