html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the body take up at least the full viewport height */
  margin: 0;
}

header {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 15px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

.options {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.options input, .options button {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.container {
  padding: 20px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  flex-grow: 1;
}

#data-display {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#data-display th, #data-display td {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-display th {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0 10px; /* Adjust spacing as needed */
}

@media (max-width: 600px) {
  header h1 {
      font-size: 1.5em;
  }

  .options {
      flex-direction: column;
  }

  .options input, .options button {
      width: 90%;
      margin: 5px 0;
  }
  footer {
    flex-direction: column;
}

footer p {
    margin: 5px 0;
}
}
